<div class="container">
  <h1>Mobius Code Challenge</h1>
</div>

<div class="container">
  <% if current_user %>

  <h2>Welcome <%= current_user.name %>! You have ... credits avaliable.</h2>

  <h4>Send credits to other users</h4>

  <% form_for :history, url: historys_path do |f| %>
  
  <% end %>

    <% @users.each do |d| %>
      <div class="row">
        <div class="col-md-4">
          <p><%= d.name %></p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <%= button_to "Send Credits"%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>